  .paper {
    /* margin-top: theme.spacing(8); */
    display: "flex";
    flex-direction: "column";
    align-items: "center"
  }
  .avatar {
    margin: auto;
  }
  .form {
    width: "100%";
    /* marginTop: theme.spacing(1) */
    /* margin-top: 10%; */
  }
  .submit {
    /* padding: 10px */
  }